@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PoiretOne";
    font-style: normal;
    font-weight: 400;
    src: url(../public/fonts/poiretOne/PoiretOne-Regular.ttf);
}



html {
    font-family: "Montserrat";
}

#root {
    @apply flex flex-col items-center ;
}

header{
    @apply flex flex-col max-w-[1200px] items-center w-full mt-7;
}

footer {
    @apply flex flex-col items-center text-white w-full pt-20;
}

footer > div:first-child img {
    @apply w-[3em];
}

footer > div:last-child img{
    @apply w-[1.5em];
}

img {
    @apply max-w-none;
}

h1, h2, h3, h4, h5, h6 {
    @apply poiretone font-semibold;
}

.cont {
    @apply flex flex-col items-center w-full min-h-[15vh];
}

nav > link {
    @apply cursor-pointer;
}

.poiretone {
    @apply font-["poiretone"];
}

.currentPage {
    @apply text-gray-500;
}

/* ------------------------------------------------------------ */

.button {
    @apply flex flex-row space-x-9 py-2 px-7 rounded-full 
    items-center w-fit h-fit buttonAnim;
}

.button-lg {
    @apply flex flex-row space-x-9 py-4 px-16 rounded-full 
    font-semibold items-center w-fit h-fit buttonAnim;
}

.buttonAnim {
    @apply hover:text-white hover:bg-[#3c3c3c] duration-200;
}

/* ------------------------------------------------------------ */

.objectDisign > div {
    @apply space-y-3;
}

.objectDisign > div > img {
    @apply rounded-md;
}

/* ------------------------------------------------------------ */

.slider {
    @apply appearance-none w-full h-1 outline-none bg-[#f4f4f4] 
    rounded-full;
}

.slider::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 bg-black cursor-pointer rounded-full;
}

.slider::-webkit-slider-thumb::before {
    @apply content-["123"] bg-green-300 text-black; 
}

.slider::-moz-range-thumb {
    @apply w-4 h-4 bg-black cursor-pointer rounded-full;
}

.sliderTitle {
    @apply flex flex-col items-center justify-center w-12 h-8 shadow-md;
}

#testPages h3{
    @apply text-2xl mb-5;
}

[id="3"] > div {
    @apply flex flex-row space-x-3 items-center;
}

/* ------------------------------------------------------------ */

.tariff {
    @apply grid grid-cols-3 text-center mt-28;
}

.tariff div {
    @apply flex flex-col items-center justify-between space-y-[1.5em];
}

.tariff > div > div {
    @apply space-y-[1.5em] px-10;
}

.tariff h3 {
    @apply text-4xl font-["poiretOne"];
}

.tariff p {
    @apply text-lg;
}

/* ------------------------------------------------------------ */

[type="circleWithDot"] li{
    @apply before:content-["à¹"] before:mr-1 before:text-sm;
}

[type="bigAround"] > li > p:first-child {
    @apply border border-white px-[1em] py-[0.5em] rounded-full w-fit h-fit
}

[type="bigAround"] > li {
    @apply flex flex-row items-center space-x-10;
}

/* ------------------------------------------------------------ */

.supervision {
    @apply flex flex-col space-y-[2.5em] w-full;
}

.supervision > div {
    @apply flex flex-row;
}

.supervision > div > div:first-child {
    @apply mr-10
}

.supervision img{
    @apply w-[50px] h-[50px];
}

.supervision h3 {
    @apply text-2xl poiretone font-semibold mb-[0.5em];
}

.supervision p {
    @apply text-lg font-light;
}

/* ------------------------------------------------------------ */

#contacts form {
    @apply flex flex-col items-start text-xl space-y-10 mt-5;
}

#contacts form > div {
    @apply flex flex-col w-full space-y-3;
}

#contacts form  input, textarea {
    @apply border border-black rounded-lg w-full p-5 outline-none;
}

#contacts form label {
    @apply font-thin;
}

/* ------------------------------------------------------------ */

.portfolio {
    @apply grid grid-cols-3 auto-rows-fr w-full gap-10 text-white text-2xl
    font-["poiretOne"] font-bold;
}

.portfolio div {
    @apply w-[360px] h-[440px] bg-cover bg-center;
}

.portfolio a > div > div {
    @apply hidden flex-col items-center justify-end p-[2em] bg-black/60;
}

/* ------------------------------------------------------------ */

.pointLine {
    @apply flex flex-row w-full justify-evenly items-center w-9/12;
}

.pointLine > div:nth-child(odd) {
    @apply w-[20em] border-2 border-black rounded-full mx-10
}

.pointLine div.dots {
    @apply flex flex-row justify-between w-full;
}

.pointLine .dots div {
    @apply border-2 border-black rounded-full
}

.pointLine ~ div {
    @apply flex flex-row justify-center text-center px-20 mt-8;
}

.pointLine ~ div h3 {
    @apply text-2xl font-bold mb-[1em]
}

.pointLine ~ div p {
    @apply font-extralight;
}

.pointLine ~ div > div {
    @apply w-1/4;
}

/* ------------------------------------------------------------ */

#testing [id="1"] input{
    @apply hidden;
}

#testing [id="1"] label > div{
    @apply space-y-2 font-light cursor-pointer
}

#testing [id="1"] label > div::before {
    @apply block relative w-7 h-7 right-3 top-5 duration-200 opacity-0 scale-0 border-2 border-black rounded-full bg-black text-white text-center items-start
}

#testing [id="1"] label > div::before {
    font: var(--fa-font-solid);
    content: "\f00c";
}

#testing [id="1"] label > div::before {
    @apply opacity-100 scale-100
}